body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/images/stones.png") repeat;
    background-size: auto;
}
.Layout{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 7, 7, 0.877);
    align-self: center;
    padding: 1em; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    width: 80%;
    color: white;
}
.MainMenu ul li{
    /* Отображать как строчный элемент */
    margin-right: 0em; /* Отступ слева */
    background-color:rgba(0, 0, 0, 0.329);
    padding: 0.5em; /* Поля вокруг текста */
}
.MainMenu ul li:hover{
    background-color: rgba(0, 0, 0, 0.993);
}
.MainMenu ul li a{
    text-decoration-line: none;
    text-decoration-color: none;
    color: rgb(109, 195, 201);
}
.MainContentSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.PageTitle{
    margin: auto;
}
img{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.P1 p:nth-child(2){
    border-style: solid;
    border-color: rgb(109, 195, 201);
    border-radius: 3em;
    padding: 1em;
}
.P1 p:nth-child(3){
    border-style: solid;
    border-color: rgb(112, 201, 109);
    border-radius: 3em;
    padding: 1em;
}
.P3 p:nth-child(1){
    border-style: solid;
    border-color: rgb(112, 201, 109);
    border-radius: 3em;
    padding: 1em;
}
.P3 p:nth-child(3){
    border-style: solid;
    border-color: rgb(112, 201, 109);
    border-radius: 3em;
    padding: 1em;
}
.P1 p span{
    color:rgb(112, 201, 109);
}
.P2 p span{
    color:rgb(112, 201, 109);
}
.P3 p span{
    color:rgb(112, 201, 109);
}